.footer {
    background-color: #fdfdfd23;
    color:rgba(173, 173, 173, 0.993);
    border: 1px solid rgb(228, 228, 228);
    padding-top: 4px;
    padding-left: 15%;
    padding-right: 15%;
     /* position: fixed; */
     display: flex;
     /* bottom: -10px; */
     /* height: 10%; */
     /* width: 100%; */
     font-weight: bold;
     justify-content:space-around;
     column-gap: 20px;
}

@media (max-width: 480px) {
  .footer{
      font-size: 10px;
  }
}

.footerButton{
  text-align: center;
  user-select: none;
  text-decoration: none;
}

.footerButton:hover{
  cursor: pointer;
}

.footer a{
  color:rgba(142, 146, 151, 0.8)
}

.footer a.active{
  color:rgba(0, 132, 255, 0.61)
}