@media (max-width: 480px) {
    .allOrdersTable{
        font-size: 10px;
    }
}

.clickable{
    cursor: pointer;
}

.colorborder{
    border-top-color: rgba(6, 55, 146, 0.438);
    margin: 0;
}

.newOrder{
    background-color: rgb(7, 194, 38);
}
