.activeComponentHeader {
    display: flex;
    background-color: rgb(25, 147, 188);
    align-items: center;
    justify-content: center;
    padding: 5px;
    user-select: none;
    /* height: 5%; */
    width: 100%;
}

.app {
    padding: 1px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content:space-around;
   
}

/* .desktop{
    grid-template-rows: 5% 85% 10%;
} */

.content{
    border: 1px solid rgba(0, 0, 0, 0.39);
    position: relative;
    /* height: 80%; */
    overflow-y: scroll;
}