.menuComponent{
    text-align: center;
    user-select: none;
    cursor: pointer;
    width: 125px;
}

.menu{
    padding-top: 25px ;
    padding-left: 15px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
}

.menu a{
    color:rgb(17, 17, 18);
  }